<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--PC KANTOR-->
		<!--<add connectionString="Server=.\SQLEXPRESS;Database=bigblindsorder;Uid=big;Password=230296;Pooling=True;Min Pool Size=0;Max Pool Size=100;" name="DefaultConnection" providerName="System.Data.SqlClient"/>
		<add connectionString="Server=.\SQLEXPRESS;Database=db4700_weborder;Uid=big;Password=230296;Pooling=True;Min Pool Size=0;Max Pool Size=100;" name="ArchiveConnection" providerName="System.Data.SqlClient"/>
		<add connectionString="Server=.\SQLEXPRESS;Database=sunlight_order;Uid=big;Password=230296;Pooling=True;Min Pool Size=0;Max Pool Size=100;" name="SunlightConnection" providerName="System.Data.SqlClient"/>-->

		<!--LAPTOP-->
		<!--<add connectionString="Server=.\;Database=bigblindsorder;Uid=rap;Password=230296;Pooling=True;Min Pool Size=0;Max Pool Size=100;" name="DefaultConnection" providerName="System.Data.SqlClient" />
		<add connectionString="Server=.\;Database=db4700_weborder;Uid=rap;Password=230296;" name="ArchiveConnection" providerName="System.Data.SqlClient" />-->

		<!--LIVE-->
		<add name="DefaultConnection" connectionString="Server=.\MSSQLSERVER2019;Database=bigblindsorder;Uid=bigblindsorder;Password=8?l8eQaojKG!fc7q;Pooling=True;Min Pool Size=0;Max Pool Size=100;" providerName="System.Data.SqlClient" />
		<add connectionString="Server=.\MSSQLSERVER2019;Database=db4700_weborder;Uid=db4700_weborder;Password=Y66iV2yQoJE6*;" providerName="System.Data.SqlClient" name="ArchiveConnection" />
		<add connectionString="Server=202.74.70.124\MSSQLSERVER2019;Database=bigorder;Uid=bigorder;Password=4r7^o93nI;" providerName="System.Data.SqlClient" name="ArchiveConnectionShutter" />
		<add connectionString="Server=202.74.70.124\MSSQLSERVER2019;Database=sunlight_order;Uid=bigorder;Password=4r7^o93nI;" providerName="System.Data.SqlClient" name="SunlightConnection" />

		<!--LOCAL REMOTE LIVE-->
		<!--<add name="DefaultConnection" connectionString="Server=202.74.70.10\MSSQLSERVER2019;Database=bigblindsorder;Uid=bigblindsorder;Password=8?l8eQaojKG!fc7q;Pooling=True;Min Pool Size=0;Max Pool Size=100;" providerName="System.Data.SqlClient" />
		<add connectionString="Server=202.74.70.10\MSSQLSERVER2019;Database=db4700_weborder;Uid=db4700_weborder;Password=Y66iV2yQoJE6*;" providerName="System.Data.SqlClient" name="ArchiveConnection" />
		<add connectionString="Server=202.74.70.124\MSSQLSERVER2019;Database=bigorder;Uid=bigorder;Password=4r7^o93nI;" providerName="System.Data.SqlClient" name="ArchiveConnectionShutter" />-->
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<customErrors mode="Off" />
	</system.web>
</configuration>